<h2>{{articles.length}} New Articles</h2>
<ol>
  {{#each articles as |article index|}}
    <li>
      <h3>
        <a href="{{article.href}}">{{article.title}}</a>
      </h3>
      <p>
        <a href="/articles/{{index}}">See More</a>
      </p>
    </li>
  {{/each}}
</ol>
