<!DOCTYPE html>
<html>
  <head>
    <title>WDI News</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <script src="/public/js/app.js"></script>
    
    <h1><a href="/">What's New</a></h1>
    {{{body}}}
  </body>
</html>
